.app_download h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.8vh;
  font-weight: 500;
}
.download {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download img {
  height: 60px;
  width: 170px;
}
.containers {
  margin-top: 100px;
  margin-bottom: 100px;
}
